aiohttp
aiohttp-proxy
aiosignal
asyncio
annotated-types
async-timeout
attrs
better-proxy
colorama
fake-useragent
frozenlist
greenlet
idna
loguru
multidict
playwright
pyaes
pydantic
pydantic-settings
pydantic_core
pyee
Pyrogram
PySocks
python-dotenv
requests
sqlalchemy
telebot
telethon
TgCrypto
typing_extensions
uv
win32-setctime
yarl
ffmpeg-python
flask
Pillow
google-auth-oauthlib
google-api-python-client
httplib2
tgcrypto
